# 정수형 integer

파이썬에서는 Java 와는 달리 하나의 정수 타입만 제공합니다. (Java 에서는 short, int, long 의 정수형이 있습니다.)

대신 파이썬에서는 정수의 값에 따라서 내부적으로 적절한 정수에 대한 표현을 선택합니다.

In [2]:
int()  # default value is 0

0

In [4]:
int(3.14), int(3.99)

(3, 3)

In [5]:
int(-3.0), int(-3.8)

(-3, -3)

int(n) 에서 n 은 0에 가까운 정수로 캐스팅이 됩니다.

자바에서는 7가지 실수를 정수로 바꾸는 모드가 있습니다.   https://docs.oracle.com/javase/7/docs/api/java/math/RoundingMode.html

파이썬의 int() 의 행동은 Java 의 RoundingMode.DOWN 에 해당합니다.

In [31]:
int(True), int(False)

(1, 0)

In [23]:
int('123')

123

아래는 에러가 발생하는 경우다.

아래의 예와 같은 스트링을 정수형으로 변환시킬려면 먼서 실수형으로 변환한 후에 다시 캐스팅을 해야 한다.

In [11]:
int('123.5') # error
int('123,456') # error

위와 같이 콤마가 들어간 숫자를 정수형으로 바꿀려면

콤마(,) 를 빈 문자열로 치환한 후에 정수로 변환해줍니다.

\> int('123,456'.replace(',',''))

In [55]:
int('123,456'.replace(',',''))#, locale.atoi("123,456")

123456

아래는 반대로 정수형을 콤마가 포한된 스트링으로 바꾸는 방법입니다.

In [54]:
"{:,d}".format(1234567)

'1,234,567'

10 진수 이외의 표현도 가능합니다.

아래에 2진수, 8진수, 16진수의 리터럴을 사용해서 정수를 나타냅니다.

In [12]:
0b11 # 2진수

3

In [14]:
0o11  # 8진수

9

In [15]:
0x11  # 16진수

17

10진수를 16진수의 스트링으로 변환하는 방법입니다.

In [56]:
print('{:#x}'.format(17))

0x11

int() 에 인자를 주어서 n진수의 정수를 표현할 수도 있습니다.

In [18]:
int('11', 16)

17

In [22]:
int('19', 20)  ## 20 진수도 표현할 수 있다.

29

# float 실수형

다음은 몇 가지 실수형을 나타내는 방법입니다.

In [25]:
3.

3.0

In [26]:
3.14

3.14

In [27]:
6.022e22, 9.1E-31

(6.022e+22, 9.1e-31)

In [28]:
float(3)

3.0

In [29]:
float('3.14')

3.14

In [32]:
float(True), float(False)

(1.0, 0.0)

In [34]:
float('NaN'), float('nan')

(nan, nan)

In [35]:
float('inf')

inf

In [36]:
6e7777777777777

inf

In [39]:
0e1, 1e0, 0e0

(0.0, 1.0, 0.0)

In [40]:
0 ** 0

1

에러가 발생하는 경우입니다.

In [ ]:
2e3.2

파이썬 실수형의 재미있는 행동들 입니다.

In [57]:
.1 + .1 + .1 == .3

False

In [59]:
(1.1 + 2.2) == 3.3

False

In [60]:
1.1 + 2.2

3.3000000000000003